.App {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	max-height: 100%;
	overflow-x: hidden;
}

.navigation-container {
	width: 20vw;
	height: 100vh;
}

.main-content-container {
	width: 80vw;
	height: 100vh;
}
